@charset "utf-8";
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12pt;
	color: #260801;
	background-color: #a6a6a6;
	line-height: 130%;
}
h1 {
	font-size: 24pt;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-style: normal;
}
.main {
	max-width: 1000px;
	background-color: #FFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 10px;
}
.lireimg {
	max-height: 160px;
	margin-top: 15px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	max-width: 190px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	left: auto;
}
.imgCont {
	float: left;
	position:relative;
	margin: 0px;
	height: 220px;
	width: 196px;
	margin-bottom: 8px;
	// border: 1px solid #000;
}
.searchLink {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
	color: #260801;
	text-decoration: none;
	position: absolute;
	left: 3px;
	bottom: 3px;
	text-align:center;
}
